# IRS Data

In [1]:
import duckdb

duck = duckdb.connect()

In [3]:
duck.execute("create or replace table raw_fl_cd AS SELECT * FROM read_xlsx('https://www.irs.gov/pub/irs-soi/22incdfl.xlsx', range='A4:FG', all_varchar=true, header=true);")

duck.execute("show table raw_fl_cd").df()

,column_name,column_type,null,key,default,extra
0,Congressional\ndistrict [1],VARCHAR,YES,None,None,None
1,Size of adjusted gross income by congressional...,VARCHAR,YES,None,None,None
2,Number of returns [2],VARCHAR,YES,None,None,None
3,Number of single returns,VARCHAR,YES,None,None,None
4,Number of joint returns,VARCHAR,YES,None,None,None
...,...,...,...,...,...,...
158,_72,VARCHAR,YES,None,None,None
159,Overpayments refunded [16],VARCHAR,YES,None,None,None
160,_73,VARCHAR,YES,None,None,None
161,Credited to next year's estimated tax,VARCHAR,YES,None,None,None
162,_74,VARCHAR,YES,None,None,None

In [4]:
duck.sql("""
WITH brackets AS (
    PIVOT (
        SELECT 
            "Congressional\ndistrict [1]" AS district,
            "Size of adjusted gross income by congressional district" AS income_bracket,
            -- Remove commas and cast to numeric to allow math operations
            CAST(REPLACE("Number of returns [2]", ',', '') AS DOUBLE) AS return_count
        FROM raw_fl_cd
        WHERE try("Congressional\ndistrict [1]"::int) BETWEEN 1 AND 999
    )
    ON income_bracket
    USING FIRST(return_count)
    GROUP BY district
)
SELECT 
    *, 
    ("$500,000 or more" / "$100,000 under $200,000") AS richness_ratio
FROM brackets
ORDER BY richness_ratio DESC;
""").df()

,district,"$1 under $10,000","$10,000 under $25,000","$100,000 under $200,000","$200,000 under $500,000","$25,000 under $50,000","$50,000 under $75,000","$500,000 or more","$75,000 under $100,000",Under $1,richness_ratio
0,27,44560.0,74960.0,49020.0,33050.0,79920.0,46070.0,19370.0,28010.0,10030.0,0.395145
1,22,41050.0,69820.0,63050.0,35890.0,82940.0,54840.0,16100.0,34740.0,10310.0,0.255353
2,19,37670.0,69620.0,72010.0,36980.0,95890.0,61040.0,18150.0,39560.0,8640.0,0.252048
3,21,42550.0,76960.0,60730.0,29750.0,88930.0,55210.0,12600.0,34050.0,9480.0,0.207476
4,18,39430.0,70900.0,70430.0,32110.0,90980.0,59140.0,13040.0,39460.0,9150.0,0.185148
5,23,40700.0,70810.0,61610.0,30070.0,81350.0,52480.0,10540.0,33890.0,9760.0,0.171076
6,14,39530.0,76950.0,51860.0,26230.0,94460.0,53230.0,8820.0,31200.0,6200.0,0.170073
7,24,47150.0,111000.0,27120.0,9730.0,109940.0,48750.0,3660.0,23040.0,7200.0,0.134956
8,16,41700.0,74150.0,82250.0,35000.0,102670.0,66580.0,10850.0,44690.0,8830.0,0.131915
9,13,35300.0,64230.0,52600.0,20560.0,91000.0,56750.0,6860.0,34040.0,7600.0,0.130418
10,10,44970.0,98220.0,49170.0,21150.0,122310.0,58880.0,5850.0,31440.0,7280.0,0.118975
11,7,36030.0,69810.0,58450.0,24940.0,93380.0,56100.0,6770.0,33940.0,6460.0,0.115825
12,4,37080.0,62050.0,90700.0,39920.0,92950.0,65640.0,10430.0,45680.0,6670.0,0.114994
13,25,49640.0,100810.0,43440.0,16430.0,110190.0,56240.0,4560.0,29880.0,7130.0,0.104972
14,8,38700.0,69480.0,68110.0,24000.0,92990.0,57220.0,5900.0,39440.0,7660.0,0.086625
15,1,36150.0,67940.0,62980.0,20100.0,95560.0,57370.0,5230.0,37860.0,6600.0,0.083042
16,17,38390.0,69750.0,58830.0,18190.0,93340.0,57320.0,4330.0,36950.0,8270.0,0.073602
17,26,47280.0,101940.0,44970.0,13570.0,106170.0,55650.0,3270.0,30860.0,6990.0,0.072715
18,6,41930.0,77470.0,59170.0,17580.0,101580.0,60190.0,3970.0,38450.0,8560.0,0.067095
19,12,40050.0,69180.0,67720.0,23990.0,93030.0,60080.0,4490.0,39170.0,7670.0,0.066302
20,3,33770.0,65600.0,50890.0,14830.0,86350.0,50100.0,3190.0,31970.0,6330.0,0.062684
21,2,33200.0,61430.0,48980.0,13630.0,81140.0,47760.0,3050.0,30940.0,7270.0,0.062270
22,20,42840.0,104800.0,33690.0,8920.0,113740.0,54890.0,1860.0,27670.0,6420.0,0.055209
23,15,38170.0,80980.0,56850.0,14680.0,108540.0,62380.0,3070.0,37600.0,6290.0,0.054002
24,9,48040.0,110730.0,55360.0,15430.0,142580.0,72640.0,2910.0,40680.0,7540.0,0.052565
25,11,42750.0,78330.0,62010.0,15340.0,103670.0,63150.0,2910.0,42240.0,8720.0,0.046928
26,5,36470.0,83220.0,28430.0,5030.0,103710.0,48760.0,1120.0,24780.0,7050.0,0.039395